<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Создание товара</title>
</head>

<body>
<h1>Добавить новый товар</h1>
<form th:action="@{/products/add}" method="post">
    Title: <input type="text" name="title" placeholder="Введите наименование товара"/>
    <br>
    Descripion: <input type="text" name="description" placeholder="Введите описание товара"/>
    <br>
    Brand: <input type="text" name="brand" placeholder="Введите брэнд товара"/>
    <br>
    Price: <input type="text" name="price" placeholder="Введите стоимость товара"/>
    <br>
    <input type="submit" th:value="Add">
</form>
<br>
<a th:href="@{/}">Главная страница</a>
</body>
</html>